<div class="container h-screen" style="margin-top: 100px;">
  <div class="table_component" role="region" tabindex="0">
    <table>
      <!--      <caption>Users Lists</caption>-->
      <thead>
      <tr>
        <!--        <th>Id</th>-->
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <!--        <th>Password</th>-->
        <th>Role Id</th>
        <th>Role Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <!--        <td>{{user.id}}</td>-->
        <td>{{ user.username }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <!--        <td>{{user.password}}</td>-->
        <td>{{ user.roles[0].id }}</td>
        <td>{{ user.roles[0].name }}</td>
      </tr>
      </tbody>
    </table>
  </div>


  <!-- This is Angular 17 and above feature -->
  <!-- we don't use *ngFor directive, If we want to use we can use it but there is new way of doing it-->
  <div class="container-fluid mt-3 mb-3">
    <ul>
      @for (user of users; track user.id) {
        <li>Username:- {{user.username}}, Name:- {{user.name}} </li>
      }
    </ul>
  </div>

  <div>
    <div class="table_component" role="region" tabindex="0">
      <table>
        <!--      <caption>Users Lists</caption>-->
        <thead>
        <tr>
          <!--        <th>Id</th>-->
          <th>Username</th>
          <th>Name</th>
          <th>Email</th>
          <!--        <th>Password</th>-->
          <!--        <th>Role Id</th>-->
          <th>Role Name</th>
        </tr>
        </thead>
        <tbody>
          @for(user of users; track user.id){
            <tr>
              <!--        <td>{{user.id}}</td>-->
              <td>{{ user.username }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <!--        <td>{{user.password}}</td>-->
              <!--          <td>{{ user.roles[0].id }}</td>-->
              <td>{{ user.roles[0].name }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

  </div>

</div>
